/*All colors:
1. #AEB05D green
2. #DCD191 yellowgreen
3. #D3A46E clay
4. #E39871 lightorange
5. #DF7D60 light red
*/
body {
	width: 60%;
    height: 100%;
	margin: auto;
	background-color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-style: solid;
}
.title {
	text-align: center;
	padding: 24px 0 3px 0;
	background-color: #AEB05D;
}
.title h1 {
	padding-bottom: 40px;
	padding-top: 5px;
    color: #DF7D60;
}
.navbar {
    background-color: #DCD191;
    text-align: center;
	font-size: 20px;
	padding-bottom: 0;
    margin: 0;
}
.navbar li{
	display: inline;
	padding-right: 30px;
}
.navbar a{
    color: #DF7D60; 
}
.content {
	padding: 80px 30px 80px 30px;
	background-color: white;
}
.footer {
	border-top: solid;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 10px;
	color: white;
	text-align: center;
	background-color:  #D3A46E;
}
p {
    font-size: 1.35em;
}






