/*All colors:
1. #AEB05D green
2. #DCD191 yellowgreen
3. #D3A46E clay
4. #E39871 lightorange
5. #DF7D60 light red
*/
body {
	width: 60%;
    min-width:1000px;
    max-width:2000px;
    height: auto;
	margin: auto;
	background-color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-style: solid;
}
.title {
	text-align: center;
	padding: 24px 0 3px 0;
	background-color: #AEB05D;
}
.title h1 {
	padding-bottom: 40px;
	padding-top: 5px;
    color: #DF7D60;
}
.navbar {
    background-color: #DCD191;
    text-align: center;
	font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 4%;
}
ul {
    list-style-type: none;
}
.navbar a{
    color: #DF7D60; 
}
.content {
	padding: 80px 3.2% 80px 3.2%;
	background-color: white;
}
.footer {
	border-top: solid;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 1.05%;
	color: white;
	text-align: center;
	background-color:  #D3A46E;
}
p {
    font-size: 1.35em;
}
.contact_background{
    position: relative;
    background: #E39871;
    color: white;
}
.slidedown{
    position: absolute;
    background: #E39871;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.55em;
}
.slidedown p{
    font-size: 1.33em;
    text-align: center;
}
.slidedown li{
    width: auto;  
    height: 40px;  
}
.slidedown a{
    color: white;
    font-size: 1.33em;
    text-align: center;
}
.slidedown li:hover{
    background: #AEB05D;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

a:hover{
    color: white;
}
a:click{
    color: white;
}



