ody {
	width: 100%;
    Height: 100%
	margin: auto;
	background-color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-style: solid;
}
.navigation {
	text-align: center;
	padding: 24px 0 3px 0;
	color: #F08080;
	background-image: url("../images/cartoonBirds.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.navigation h1{
	padding-bottom: 40px;
	padding-top: 5px;
	font-size: 35px;
}
.navigation ul{
	font-size: 20px;
	padding-bottom: 0;
}
.navigation ul li{
	padding-right: 30px;
}
.content {
	padding: 80px 30px 80px 30px;
	background-color: #F0F0F0;
}
.footer {
	
	border-top: solid;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 10px;
	color: white;
	text-align: center;
	background-color: #00BFFF;
}
p {
	font-size: 24px;
}
.caption {
	margin-top: 200px;
	margin-bottom: 200px;
}

。nav a{
	color: white;
}
ul li{
	display: inline;
	padding-right: 10px
}




